@model List<Artist>

@{
    ViewData["Title"] = "Artist Management";
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/homepage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
</head>
@Html.AntiForgeryToken();
<div class="container">
    <div class="row p-4">
        <h1 class="center">Artist Management</h1>
    </div>
    <div class="row">
        <div class="col-2 me-5">
            <div class="row">
                <a class="btn btn-primary m-3" asp-action="AddArtist">New Artist</a>
            </div>
            <div class="row">
                <button disabled id="updateArtist" class="btn btn-primary m-3">Update Artist</button>
            </div>
            <div class="row">
                <button disabled id="deleteArtist" class="btn btn-danger m-3">Delete Artist</button>
            </div>
            <div class="row">
                <button disabled id="viewSongs" class="btn btn-primary m-3">View Songs</button>
            </div>
        </div>
        <div class="col-9">
            <table class="table text-white table-background dark-table-hover" id="artistTable">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Genre
                        </th>
                        <th>
                            Country
                        </th>
                        <th>
                            Description
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var artist in Model)
                    {
                        <tr id="@Html.DisplayFor(modelItem => artist.id)" onclick="onArtistClick(@Html.DisplayFor(modelItem => artist.id));">
                            <td>
                                @Html.DisplayFor(modelItem => artist.id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => artist.name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => artist.genre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => artist.country)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => artist.description)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>

