@model IEnumerable<ASDAssignmentUTS.Models.Review>

@{
    ViewData["Title"] = "Review Management";
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/homepage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
</head>

<div class="container">
    @Html.AntiForgeryToken();
    <div class="row p-4">
        <h1 class="center">Review Management</h1>
    </div>

    <div class="row">
        <div class="col-2 me-5">
            <div class="row">
                <button disabled id="deleteReview" class="btn btn-danger m-3">Delete Review</button>
            </div>
            
        </div>
        <div class="col-9">
            <table class="table text-white table-background dark-table-hover" name="reviewTable" id="reviewTable" ">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Stars
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            User Id
                        </th>
                        <th>
                            Song ID
                        </th>
                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var review in Model)
                    {
                        <tr id="@Html.DisplayFor(modelItem => review.Review_ID)" onclick='onReviewClick(@Html.DisplayFor(modelItem => review.Review_ID));'>
                            <td>
                                @Html.DisplayFor(modelItem => review.Review_ID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => review.Review_Star)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => review.Review_Entry)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => review.User_ID_FK)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => review.Song_ID_FK)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

