@model IEnumerable<ASDAssignmentUTS.Models.Review>

@{
    ViewData["Title"] = "Review Management";
}




<div class="container">
    <div class="row p-4">
        <h1 class="center">Review Management</h1>
    </div>

    <div class="row">
        <div class="col-2 p-1">
            <button disabled id="deleteReview" class="btn btn-dark m-3">Delete Review</button>
        </div>
        <div class="col-9">
            <table class="table table-hover" name="reviewTable" id="reviewTable"">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Stars
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            User Id
                        </th>
                        <th>
                            Song ID
                        </th>
                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var review in Model)
                    {
                        <tr id="@Html.DisplayFor(modelItem => review.Review_ID)" onclick='onReviewClick(@Html.DisplayFor(modelItem => review.Review_ID));'>
                            <td>
                                @Html.DisplayFor(modelItem => review.Review_ID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => review.Review_Star)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => review.Review_Entry)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => review.User_ID_FK)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => review.Song_ID_FK)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

