@model ASDAssignmentUTS.Models.Playlist

@{
    Layout = "~/Views/Home/_Layout.cshtml";
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/playlist.css" asp-append-version="true" />
</head>

<h1>Update Playlist Details</h1>

<form method="post" asp-action="UpdatePlaylist" asp-route-id="@Model.id">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" value="@Model.name" required>
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        <textarea class="form-control" id="description" name="description" rows="3"
            required>@Model.description</textarea>
    </div>
    <input type="hidden" name="ownerId" value="@Model.ownerId" />
    <button type="submit" class="btn btn-primary">Save</button>
    <a href="@Url.Action("ViewPlaylist", "Playlist", new { id = Model.id })" class="btn btn-secondary">Cancel</a>
</form>