@model ASDAssignmentUTS.Models.Playlist

@{
    Layout = "~/Views/Home/_Layout.cshtml";
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/playlist.css" asp-append-version="true" />
</head>

<h1>@Model.name</h1>

<p>@Model.description</p>

<a href="@Url.Action("UpdatePlaylist", "Playlist", new { id = Model.id })" class="btn btn-primary">Update Playlist
    Details</a>

<h2>Songs</h2>

<ul>
    @foreach (var song in Model.Songs)
    {
        <li>
            @song.name - @song.artistId
            <form asp-action="DeleteSongFromPlaylist" asp-controller="Playlist" asp-route-songId="@song.id"
                asp-route-playlistId="@Model.id" method="post" class="d-inline">
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>
        </li>
    }
</ul>

<a href="@Url.Action("PlaylistManagement", "Playlist")" class="btn btn-secondary">Back to Playlist Management</a>