@model ASDAssignmentUTS.Models.Playlist

<h1>@Model.name</h1>

<p>@Model.description</p>

<a href="@Url.Action("UpdatePlaylist", "Playlist", new { id = Model.id })" class="btn btn-primary">Update Playlist
    Details</a>

<h2>Songs</h2>

<ul>
    @foreach (var song in Model.Songs)
    {
        <li>@song.name - @song.artistId</li>
    }
</ul>

<a href="@Url.Action("PlaylistManagement", "Playlist")" class="btn btn-secondary">Back to Playlist Management</a>