@model IEnumerable<ASDAssignmentUTS.Models.User>

@{
    ViewData["Title"] = "User Management";
}


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/homepage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
</head>
@Html.AntiForgeryToken();
<div class="row p-4">
    <h1 class="center">User Management</h1>
</div>

<div class="row">
    <div class="col-2 me-5">
        <div class="row">
            <a class="btn btn-primary m-3" asp-action="Create">Add User</a>
        </div>
        <div class="row">
            <button disabled class="btn btn-primary m-3" id="updateUser">Update User</button>
        </div>
        <div class="row">
            <button disabled class="btn btn-danger m-3" id="deleteUser">Delete User</button>
        </div>
    </div>
    <div class="col-9">
        <table class="text-white table table-background dark-table-hover " id="userTable">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Username
                    </th>
                    <th>
                        Email Address
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.id" onclick="onUserClick(@item.id)">
                        <td>
                            @Html.DisplayFor(modelItem => item.id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.username)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.email)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

    
