@model Artist


<!DOCTYPE html>
<html>

@{
    Layout = "~/Views/Home/_Layout.cshtml";
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/playlist.css" asp-append-version="true" />
    <title>@Model.name</title>
</head>

<body>
    <h1>@Model.name</h1>
    <p><strong>Genre:</strong> @Model.genre</p>
    <p><strong>Country:</strong> @Model.country</p>
    <p><strong>Description:</strong> @Model.description</p>

    <a asp-action="ArtistSearch" asp-controller="ArtistSearch" class="btn btn-primary">Back to Search</a>
</body>

</html>